<div class="container" ng-controller="TodoCtrl">
    <h1 class="text-center">Apparel</h1>
    <div style="display:block;">
        <div>
           <form name="deals" style="display:block">
               <input class="text" type="text" style="display:block; margin: 10px auto 10px auto" name="searched" ng-model="searched" placeholder="Search Apparel" ng-keypress="search()">
               <button ng-click="search()" class="btn-info" style="display:block; margin: auto;">Search</button>
           </form>
        </div>
    </div>
        <div style="height: 250px; overflow: scroll;">
            <a ng-repeat="todo in todos | filter:searched" href={{todo.href}} class="text-center" style="display:block;">{{todo.text}} </a>
        </div>
</div>

